extends ../components/base/layout

block variables
  - const title = "Skill Up" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "animation.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +loader()

    section.intro
      .intro__wrapp(data-animate="intro")
        .container
          .intro__heading
            h1.title.title--h1.curtains(data-text="curtains")
              span.curtains__text Задачки на
              span.curtains__text прокачку
            p.curtains(data-text="curtains")
              span.curtains__text Задачи на интерфейсную логику,
              span.curtains__text которые часто встречаются
              span.curtains__text на реальных проектах
          .intro__cards
            a(href="#menu").intro__cards-links
              h2.title.title--h2 Меню
            a(href="#loader").intro__cards-links
              h2.title.title--h2 Лоадер
            a(href="#first-screen").intro__cards-links
              h2.title.title--h2 Сборка первого экрана

            a(href="#show-on-scroll").intro__cards-links
              h2.title.title--h2 Появление блоков
            a(href="#parallax").intro__cards-links
              h2.title.title--h2 Параллакс
            a(href="#scroll-slider").intro__cards-links
              h2.title.title--h2 Слайдер по скроллу

        .intro__bg
          video(src="video/bg-intro.webm", alt="bg-video", autoplay="true", muted="true", loop, playsinline)

    section.block-text(id="menu")
      .container
        .block-text__content
          h2 Меню тз
          h3 Анимация появления
          p При открытии: Сначала появляется меню, затем внутренний контент. Пункты внутри появляются с разной задержкой - эффект "лесенки"
          p При закрытии: Внутренний контент исчезает до закрытия меню, без задержки
          p Анимация меню на данном сайте реализована с помощью css (это база). Можете так же реализовать анимацию с помощью gsap
          h3 JS
          p Для блокировки скролла используется window.scrollLock
          p Должны быть реализованы функции или методы для открытия и закрытия меню, которые можно использовать в других модулях

    section.block-text(id="loader")
      .container
        .block-text__content
          h2 Лоадер тз
          p Анимация лоадера произвольная, можно использовать css keyframes или gsap
          p После загрузки страницы мы всегда находимся вверху страницы (не должно быть видно скачка)
          p Скролл страницы заблокирован во время загрузки

    section.block-text(id="first-screen")
      .container
        .block-text__content
          h2 Сборка первого экрана тз
          p Для анимации используйте неколько разных css свойств и небольшие задержки
          p Для построчной или посимвольной анимации текста используйте splitting.js (пример: интро этого сайта)

    section.block-text(id="show-on-scroll")
      .container
        .block-text__content
          h2 Появление блоков
          p доскролили и вжух!
          p Можно делать через классы и высчитывать по скроллу getBoundingClientRect каждого блока, но гораздо проще использовать ScrollTrigger.batch()
        .block-text__cards(data-cards-animate)
          .block-text__card(data-fade)
            p fade
          .block-text__card(data-fade)
            p fade
          .block-text__card(data-fade)
            p fade-in
          .block-text__card(data-fade)
            p fade-in
          .block-text__card(data-fade-scale)
            p fade-scale
          .block-text__card(data-fade-scale)
            p fade-scale

    section.block-text(id="parallax")
      .container
        .block-text__content
          h2 Параллакс по скроллу
          p Эффекты, которые постоянно срабатывают по скроллу
          p Скроллим скроллим и вжух вжух вжух!
        .block-text__cards
          .block-text__card(data-scale)
            p fade-scale
          .block-text__card(data-scale)
            p fade-scale
          .block-text__card(data-transform)
            p transform y
          .block-text__card(data-transform)
            p transform y

    .scroll-slider(id="#scroll-slider")
      section.scroll-slider__sticky
        .scroll-slider__inner
          .scroll-slider__wrap.one
            h2 Scroll Slider
            p переключение полноэкранных слайдов по скроллу

        .scroll-slider__inner
          .scroll-slider__wrap.two
            h2 position: sticky;
            p Просто стики. Не нужно мучаться с position: fixed; или pin: true, <br> (т.к. баги на тач неисправимы)

        .scroll-slider__inner
          .scroll-slider__wrap.three
            h2 gsap scrollTrigger
            p без getBoundingClientRect <br> ScrollTrigger делает всю рутину за нас

        .scroll-slider__inner
          .scroll-slider__wrap.four
            h2 ios friendly???
            p не забывайте добавлять вокруг transform: translate3d(0, 0, 0);
