extends ../components/base/layout

block variables
  - const title = "Skill Up" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "map-1.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +loader()

    +map({
      title: "Задание по карте №2",
      titleTwo: "Техническое задание",
      map: "map-pins",
      list: [
        {
          text: "Реализовать карту через API Яндекс карт",
        },
        {
          text: "Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами",
        },
        {
          text: "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
        },
        {
          text: "Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином",
        },
      ]
    })
