extends ../components/base/layout

block variables
  - const title = "Skill Up" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "map-4.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +loader()

    +map({
      title: "Задание по карте №4",
      titleTwo: "Техническое задание",
      map: "map-4",
      list: [
        {
          text: "Реализовать карту через API Яндекс карт",
        },
        {
          text: "Настроить кастомный пин на&nbsp;карте так, что&nbsp;бы его стрелочка четко указывала на&nbsp;центр координат, которые вы&nbsp;можете придумать сами",
        },
        {
          text: "На&nbsp;десктопной версии при скролле колесиком мышки, карта не&nbsp;должна масштабироваться. Масштабировать ее&nbsp;можно только при нажатии клавиши Ctrl + колесико мышки. Если пользователь навел курсор на&nbsp;карту и&nbsp;начинает скролить мышкой, то&nbsp;на&nbsp;карте должен появиться overlay с&nbsp;инструкцией, что для того что&nbsp;бы масштабировать карту нажмите Ctrl + колесико мышки",
        },
        {
          text: "Создать и&nbsp;расположить пины на&nbsp;карте из&nbsp;json файла. При клике на&nbsp;каждый пин выводить какую нибудь информацию в&nbsp;небольшом всплывающем окошке, которое будет появляться над пином",
        },
        {
          text: "Реализовать кластеризацию меток. Если зум карты становится меньше, то&nbsp;пины должны собираться в&nbsp;один кластер",
        },
        {
          text: "При клике на&nbsp;кластер должно раскрываться окошко, в&nbsp;котором будет списком указаны, какие пини находятся в&nbsp;этой кластере",
        }
      ]
    })

