mixin map(data)

  section.map
    .container
      .map__wrap
        .map__info
          h1.title.title--h1!= data.title
          h2.title.title--h2!= data.titleTwo
          each item in data.list
            p!= item.text

        .map__block
          .map__block-wrap(data-map=data.map)
          .map__message(data-map-message)
            p Зажмите ctrl и крутите колесо прокрутки мышки, что бы приблизить карту

