.main-nav {
  position: fixed;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  background: $color-woody-brown;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-bottom: 45px;
    overflow: hidden;
  }

  &__link {
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: $color-default-white;
    transition: transform $trans-default;
    transform: translate3d(0,110%,0);

    &.is-active {
      color: $color-dark-violet;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &.is-active {
    .main-nav__item:nth-child(1) {
      .main-nav__link {
        transition-delay: .45s;
        transform: translate3d(0,0,0);
      }
    }

    .main-nav__item:nth-child(2) {
      .main-nav__link {
        transition-delay: .55s;
        transform: translate3d(0,0,0);
      }
    }

    .main-nav__item:nth-child(3) {
      .main-nav__link {
        transition-delay: .55s;
        transform: translate3d(0,0,0);
      }
    }

    .main-nav__item:nth-child(4) {
      .main-nav__link {
        transition-delay: .55s;
        transform: translate3d(0,0,0);
      }
    }

    .main-nav__item:nth-child(5) {
      .main-nav__link {
        transition-delay: .55s;
        transform: translate3d(0,0,0);
      }
    }
  }
}
