.map {
  padding-top: 150px;
  padding-bottom: 100px;

  &__block {
    position: relative;
    margin-bottom: 40px;
  }

  &__block-wrap {
    width: 100%;
    height: 700px;

    box-shadow: 0px 0 20px 12px rgb(114 0 207 / 32%);
    border-radius: 10px;
    overflow: hidden;
  }

  &__info {
    margin-bottom: 60px;

    p {
      font-size: 20px;
      margin: 0 0 15px;
    }
  }

  &__message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    transform: $trans-default;
    pointer-events: none;
    opacity: 0;
    color: $color-default-white;
    background-color: rgba(0,0,0,.3);

    &.is-active {
      opacity: 1;
    }
  }

  .description {
    font-weight: 400;
    color: $color-night-rider;
    font-size: 14px;
  }

  &__filter-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    input:checked + .map__label{
      background-color: $color-dark-violet;
      color: $color-default-white;
      pointer-events: none;
    }
  }

  .map__label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    color: $color-night-rider;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: color $trans-default, background-color $trans-default;
    border-radius: 25px;
    background-color: $color-blue-chalk;

    @include hover-focus {
      background-color: $color-dark-violet;
      color: $color-default-white;
    }
  }
}


