mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Анимация"
      },
      {
        href: "map-1.html",
        text: "Карта 1"
      },
      {
        href: "#",
        text: "Карта 2"
      },
      {
        href: "#",
        text: "Карта 3"
      },
      {
        href: "#",
        text: "Карта 4"
      },
    ]

  header.header(class=headerMods data-fix-block)
    .container
      a.header__logo(href="sitemap.html", aria-label="Переход на список страниц") Skill Up

      button.header__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню")
    nav.main-nav(data-fix-block)
      .container
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
